$main-color: rgb(75, 32, 168);
$secondary-color: rgba(79, 79, 82, 0.853);
$pure-white: #fff;
$light-white: #fffefe;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$light-blue-gradient: linear-gradient(45deg, rgba(75, 32, 168, 0.85), rgba(8, 24, 255, 0.55));
$header-gradient: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(42, 10, 184, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.94), rgba(68, 0, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgba(10, 38, 98, 0.953), rgb(27, 6, 117));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);