@use './colors' as colors;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.section{
	background-color: colors.$light-white;
}

.white-block {
	position: absolute;
	height: 45px;
	width: 60%;
	background-color: colors.$light-white;

	&-left {
		bottom: -1px;
		left: -50px;
		transform: skew(45deg);
	}
	&-right {
		top:-1px;
		right: -50px;
		transform: skew(45deg);
	}
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}

	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.section-heading {
	position: relative;
	margin-bottom: 1em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: colors.$secondary-color;
	letter-spacing: 2px;
}

.section-padding {
	padding: 6em 2em;
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.6rem;
	}
	.section-padding {
		padding: 6em 2em;
	}
}
@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 8em 2em;
	}
}
